<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8" />
				<link rel="stylesheet" href="/css/styles.css">
				<meta name="viewport" content="width=device-width" />

		</head>
		<header>

		</header>
		<body>
		<!-- where your templates are
		placed-->
		{{{ body }}}
		</body>
		<footer>

		</footer>
</html>
